* {
  box-sizing: border-box;
}

:root{
--maincolor: plum;
--accentcolor: purple;
--fontcolor: #301934; 
}

body {
  margin: 0%;
  padding: 0%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: white
}

.header {
  overflow: hidden;
  background-color: var(--accentcolor);
  padding: 5px;
}

.header a{
  float: left;
  color: var(--maincolor);
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 40px;
  font-weight:lighter;
  background-color: var(--maincolor);
  color: var(--accentcolor);
}

.header a:hover {
  background-color: white;
  color: var(--fontcolor);
}

.header-right {
    font-weight: bold;
    float: right;
}

.hero-banner {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./Images/Heather.jpg.jpg);
  background-size: cover;
  background-color: var(--maincolor);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h2 {
  padding-left: 20px;
  font-size: 37px;
}

#firstheading{
  float: left;
  width: 17%;
  display: inline;
}

#firstparagraph{
  font-size: 18px;
  float: right;
  width: 83%;
  display: inline;
  text-align: justify;
  padding: 0 1.5em;
  padding-bottom: 50px;
}


#secondheading{
  float: left;
  display: flex;
  align-items: flex-start;
}

#secondheading h2{
  max-width: 100%;
  
}

#one{
  height: 350px;
  width: 1000px;
  background-image: url(./Images/sky1.jpg);
}

/* .projects{
  width: 493px;
} */

.grid-item{
  height: 200px;
  width: 493px;
  background-image: url(./Images/sky2.jpg);
  background-repeat: no-repeat;
  background-color: var(--maincolor);
  text-align:center;
  font-weight: bold;
  color: var(--accentcolor);
  margin: 7px;
  border: var(--accentcolor) 5px solid;
  font-size: 25px;
}


.grid-item a:hover{
 color: rgb(103, 11, 103);
}


.page-section {
  color: var(--accentcolor);
  height: fit-content;
  width: fit-content;
}

.page-section p{
  color: var(--fontcolor);
}

.flex-container {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  width: 100%;
}

.row{
display: flex;

}

#work{
  display: flex;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
}

#contact ul{
text-align: start;
color: var(--fontcolor);
}

a{
  color: var(--accentcolor);
}

a:hover{
  color: var(--maincolor);
}

@media (max-width: 640px) {
  h2 {
  margin-right: 14px;}
  #about{
    display: flex;
    flex-direction: column;
  }
  #one{
    height: 350px;
    width: 480px;
  }
  .projects{
    width: 493px;}
  }